body {
    background-color: black;
    width: 800px;
    margin: auto;
}

nav {
    font-family: 'Courier New', Courier, monospace;
    background-color: blue;
    width: 648px;
    height: unset;
    padding: 4px;
    color: white;
}
div#main {
    margin:auto;
    width: 650px;
}

div#frame {
    background-color:navy;
    width: 650px;
    height: 450px;
    border-style: outset;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
    font-size: 32px;
}

div#screen {
    width: 800px;
    height: 600px;
    background-color: #008080;
}

#lockedAlert {
    text-align:left;
    font-size: 20px;
}

a.linksColor {
    color: #00ff00;
}